@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: rgb(0, 0, 0);
}

.logo {
  color: white;
}

.logo .color-part-logo {
  color: aqua;
}

#navbarlinkcolor {
  color: white;
}

.nav-link {
  color: #ffffff;
  position: relative;
  padding-bottom: 5px;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #00d0ff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s;
}
.nav-link.active::after {
  width: 100%;
}
/* main section */

.main-image {
  background-image: url("https://images.unsplash.com/photo-1643330683233-ff2ac89b002c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  color: white;
}

.mainsectiontex {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.mainsectiontex h1 {
  font-size: 8rem;
}

.btnaction {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 3rem;
  height: 3rem;
  width: 10rem;
}

.getstartedbtn:hover {
  background-color: lightgray;
}

.planetcontainers {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
  margin-top: 5rem;
}

.planetimg {
  align-self: center;
  padding-top: 2rem;
}

.planetsinglesection {
  padding-top: 6rem;
}

.textelip {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000;
}

.btnreadmore {
  margin: 1rem;
}

.customcard {
  padding: 1rem;
}

.spacebg {
  background-image: url("https://images.unsplash.com/photo-1507275016429-544fc0875edd?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: auto;
}

.header {
  color: white;
}

.mainsignup {
  background-image: url("https://images.unsplash.com/photo-1507275016429-544fc0875edd?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: auto;
}

.mainsignup {
  color: white;
}

.formdesign {
  margin-top: 2rem;
}

.submitbtn {
  margin-top: 1rem;
}
